## Análisis exploratorio de la demanda

1-Explorar características de los pacientes.

2-Explorar relaciones entre las características de los pacientes.

3-Explorar consumos. Analizar su distribución

In [4]:
#Importación de librerías

import pandas as pd
import numpy as np
import matplotlib.pyplot as np
import seaborn as sns

In [9]:
df=pd.read_csv('.\Data\Dataset_demanda.csv',sep=';')
df.head(2)

,id_socio_encoded,edad_encoded,sexo_encoded,antiguedad_encoded,parentesco_encoded,plan_encoded,segmento_encoded,app_descargada_encoded,Q consumos Clinica Medica,Q consumos pediatria,Q consumos nutricionistas,Promedio calificaciones enviadas
0,100000,81,F,69,Titular,a,individuo_tipo_1,SI,2,0,0,"6,5"
1,100001,64,F,77,Titular,b,empresa_tipo_1,SI,1,0,0,8

In [10]:
df.describe()

,id_socio_encoded,edad_encoded,antiguedad_encoded,Q consumos Clinica Medica,Q consumos pediatria,Q consumos nutricionistas
count,1924.000000,1924.000000,1924.000000,1924.000000,1924.000000,1924.000000
mean,100961.500000,31.917360,29.399688,0.541060,0.322765,0.435551
std,555.555278,20.189223,21.565892,0.673299,0.648436,0.825683
min,100000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,100480.750000,15.000000,11.000000,0.000000,0.000000,0.000000
50%,100961.500000,31.000000,25.000000,0.000000,0.000000,0.000000
75%,101442.250000,47.000000,44.000000,1.000000,1.000000,1.000000
max,101923.000000,85.000000,130.000000,5.000000,5.000000,7.000000