# Consignas

1)	Desarrollar al menos dos modelos de clasificación (decision tree, logistic regression) que tengan como target feature categoria_socio.
La target feature podrá asumir dos valores: 
●	Standard.
●	 Silver + Gold.
Aplicar las buenas prácticas en la construcción de modelos: dividir datos en conjunto de entrenamiento y validación, cross-validation, grid-search.
Obtener feature importance.

El objetivo es entender las diferencias entre las distintas categorías de afiliados. Cuáles son las variables más relevantes para diferenciarlos?
Las conclusiones obtenidas a partir de este modelo resultarán de gran importancia para el desarrollo de un modelo de recomendación.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling
import seaborn as sns
import ptitprince as pt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [11]:
df_procesado=pd.read_csv('../Data/df_procesado.csv')
df_procesado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 27 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   id_consumo_encoded                                                                 2500 non-null   int64
 1   id_socio_encoded                                                                   2500 non-null   int64
 2   id_prestador_encoded                                                               2500 non-null   int64
 3   calificacion_experiencia_encoded                                                   2500 non-null   float64
 4   id_zona_encoded                                                                    2500 non-null   int64
 5   edad_encoded                                                                       2500 non-null   float64
 6   antiguedad_encoded                                                                 2500 non-null   float64
 7   categoria_prestador                                                                2500 non-null   object
 8   categoria_socio                                                                    2500 non-null   object
 9   sexo_encoded_F                                                                     2500 non-null   int64
 10  sexo_encoded_M                                                                     2500 non-null   int64
 11  plan_encoded_a                                                                     2500 non-null   int64
 12  plan_encoded_b                                                                     2500 non-null   int64
 13  plan_encoded_c                                                                     2500 non-null   int64
 14  segmento_encoded_empresa_tipo_1                                                    2500 non-null   int64
 15  segmento_encoded_empresa_tipo_2                                                    2500 non-null   int64
 16  segmento_encoded_individuo_tipo_1                                                  2500 non-null   int64
 17  segmento_encoded_individuo_tipo_2                                                  2500 non-null   int64
 18  segmento_encoded_individuo_tipo_3                                                  2500 non-null   int64
 19  parentesco_encoded_Otro                                                            2500 non-null   int64
 20  parentesco_encoded_Titular                                                         2500 non-null   int64
 21  app_descargada_encoded_NO                                                          2500 non-null   int64
 22  app_descargada_encoded_SI                                                          2500 non-null   int64
 23  especialidad_prestador_encoded_CLINICA MEDICA                                      2500 non-null   int64
 24  especialidad_prestador_encoded_NUTRICIONISTAS(LIC.)                                2500 non-null   int64
 25  especialidad_prestador_encoded_PEDIATRIA                                           2500 non-null   int64
 26  edad_cat_pediatrico                                                                2500 non-null   int64
dtypes: float64(3), int64(22), object(2)
memory usage: 527.5+ KB

In [12]:
df_procesado

,id_consumo_encoded,id_socio_encoded,id_prestador_encoded,calificacion_experiencia_encoded,id_zona_encoded,edad_encoded,antiguedad_encoded,categoria_prestador,categoria_socio,sexo_encoded_F,...,segmento_encoded_individuo_tipo_2,segmento_encoded_individuo_tipo_3,parentesco_encoded_Otro,parentesco_encoded_Titular,app_descargada_encoded_NO,app_descargada_encoded_SI,especialidad_prestador_encoded_CLINICA MEDICA,especialidad_prestador_encoded_NUTRICIONISTAS(LIC.),especialidad_prestador_encoded_PEDIATRIA,edad_cat_pediatrico
0,1,100000,200000,0.666667,1,0.952941,0.530769,gold,standard,1,...,0,0,0,1,0,1,1,0,0,1
1,2,100000,200000,0.555556,1,0.952941,0.530769,gold,standard,1,...,0,0,0,1,0,1,1,0,0,1
2,4,100002,200000,0.666667,2,0.705882,0.584615,gold,standard,1,...,0,0,1,0,1,0,1,0,0,1
3,12,100010,200000,0.666667,7,0.505882,0.523077,gold,standard,1,...,1,0,1,0,0,1,1,0,0,1
4,22,100017,200000,0.666667,4,0.552941,0.538462,gold,standard,1,...,0,0,1,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2001,101548,200193,0.222222,1,0.035294,0.100000,standard,standard,0,...,0,0,0,1,0,1,0,0,1,1
2496,2080,101612,200193,0.111111,8,0.058824,0.161538,standard,standard,0,...,0,0,0,1,0,1,0,0,1,1
2497,2088,101618,200194,0.111111,9,0.035294,0.092308,standard,standard,1,...,0,0,0,1,0,1,0,0,1,1
2498,2327,101791,200195,0.111111,1,0.094118,0.223077,standard,standard,0,...,0,0,0,1,0,1,0,0,1,1
2499,2328,101791,200195,0.000000,1,0.094118,0.223077,standard,standard,0,...,0,0,0,1,0,1,0,0,1,1

In [7]:
df_procesado.drop(['id_consumo_encoded','id_prestador_encoded','id_socio_encoded','id_zona_encoded'], axis = 1,inplace = True)
df_procesado['categoria_socio_unif']=df_procesado.categoria_socio_gold + dF_procesado.categoria_socio_silver + df_procesado.categoria_socio_standard

In [ ]:
model=LogisticRegression(random_state = 0, class_weigth = 'balanced')

parameters= {'penalty':['l1','l2'],
             'C':[0.0001,0.001,0.01,0.1,1,10,100],
             'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']}

cv=GridSearchCV(model , cv = 5 , njobs = -1, )