# Entregable Nº 2

## Consigna 1

1)Generar tabla_consumos_consolidada.
El objetivo es generar un dataset de consumos con todos los datos disponibles de pacientes y centros médicos. Para ello, resultará necesario un join de las tablas consumos, pacientes y centros médicos.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df_centros=pd.read_csv('./Data/tabla_centros_medicos.csv')
df_consumos=pd.read_csv('./Data/tabla_consumos.csv')
df_pacientes=pd.read_csv('./Data/tabla_pacientes.csv')

### Unión de dataframes

In [27]:
df_centros.head()

   id_prestador_encoded                     especialidad_prestador_encoded
0                200000                                     CLINICA MEDICA
1                200001                                     CLINICA MEDICA
2                200002                                     CLINICA MEDICA
3                200003                                     CLINICA MEDICA
4                200004  NUTRICIONISTAS(LIC.)                          ...

In [28]:
df_consumos.head()

,id_consumo_encoded,id_nomenclador_encoded,id_socio_encoded,id_prestador_encoded,descripcion_practica_encoded,calificacion_experiencia_encoded
0,1,11111,100000,200000,ATENCION ON LINE COVID19 ...,7
1,2,11111,100000,200000,ATENCION ON LINE COVID19 ...,6
2,3,11111,100001,200001,ATENCION ON LINE COVID19 ...,8
3,4,11111,100002,200000,ATENCION ON LINE COVID19 ...,7
4,5,11111,100003,200002,ATENCION ON LINE COVID19 ...,9

In [29]:
df_pacientes.head()

,id_socio_encoded,sexo_encoded,plan_encoded,segmento_encoded,id_zona_encoded,parentesco_encoded,edad_encoded,antiguedad_encoded,app_descargada_encoded
0,100000,F,a,individuo_tipo_1,1,Titular,81,69,SI
1,100001,F,b,empresa_tipo_1,2,Titular,64,77,SI
2,100002,F,b,empresa_tipo_1,2,Otro,60,76,NO
3,100003,F,c,empresa_tipo_1,3,Titular,49,78,SI
4,100004,M,a,individuo_tipo_1,4,Otro,48,66,SI

Primero se unirá la tabla pacientes con consumos utilzando la columna id_socio_encoded. Hacemos una verificación para ver que todos los ids de la tabla de consumos estén en pacientes

In [30]:
ids_socios_consumos=df_consumos.id_socio_encoded.unique().tolist()
ids_socios_pacientes=df_pacientes.id_socio_encoded.unique().tolist()
print("Len ids_socios_consumos {} - ids_socios_pacientes {}".format(len(ids_socios_consumos),
                                                                    len(ids_socios_pacientes)))

Len ids_socios_consumos 1924 - ids_socios_pacientes 1924

In [32]:
print(np.array_equal(ids_socios_pacientes,ids_socios_consumos))

True

Efectivamente tenemos todos los ids necesarios para hacer el join con las dos tablas

In [40]:
df_consumos_consolidado=df_consumos.merge(df_pacientes,how='inner',on='id_socio_encoded')

In [41]:
df_consumos_consolidado.head()

,id_consumo_encoded,id_nomenclador_encoded,id_socio_encoded,id_prestador_encoded,descripcion_practica_encoded,calificacion_experiencia_encoded,sexo_encoded,plan_encoded,segmento_encoded,id_zona_encoded,parentesco_encoded,edad_encoded,antiguedad_encoded,app_descargada_encoded
0,1,11111,100000,200000,ATENCION ON LINE COVID19 ...,7,F,a,individuo_tipo_1,1,Titular,81,69,SI
1,2,11111,100000,200000,ATENCION ON LINE COVID19 ...,6,F,a,individuo_tipo_1,1,Titular,81,69,SI
2,3,11111,100001,200001,ATENCION ON LINE COVID19 ...,8,F,b,empresa_tipo_1,2,Titular,64,77,SI
3,4,11111,100002,200000,ATENCION ON LINE COVID19 ...,7,F,b,empresa_tipo_1,2,Otro,60,76,NO
4,5,11111,100003,200002,ATENCION ON LINE COVID19 ...,9,F,c,empresa_tipo_1,3,Titular,49,78,SI

Finalmente verificamos que tengamos todos los ids de los prestadores

In [42]:
ids_prestadores=df_centros.id_prestador_encoded.unique().tolist()
ids_prestadores_consolidado=df_consumos_consolidado.id_prestador_encoded.unique().tolist()

print(np.array_equal(ids_prestadores,ids_prestadores_consolidado))

True

In [43]:
df_consumos_consolidado=df_consumos_consolidado.merge(df_centros,how='inner',on='id_prestador_encoded')

In [45]:
df_consumos_consolidado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id_consumo_encoded                2500 non-null   int64
 1   id_nomenclador_encoded            2500 non-null   int64
 2   id_socio_encoded                  2500 non-null   int64
 3   id_prestador_encoded              2500 non-null   int64
 4   descripcion_practica_encoded      2500 non-null   object
 5   calificacion_experiencia_encoded  2500 non-null   int64
 6   sexo_encoded                      2500 non-null   object
 7   plan_encoded                      2500 non-null   object
 8   segmento_encoded                  2500 non-null   object
 9   id_zona_encoded                   2500 non-null   int64
 10  parentesco_encoded                2500 non-null   object
 11  edad_encoded                      2500 non-null   int64
 12  antiguedad_encoded                2500 non-null   int64
 13  app_descargada_encoded            2500 non-null   object
 14  especialidad_prestador_encoded    2500 non-null   object
dtypes: int64(8), object(7)
memory usage: 312.5+ KB

## Consigna 2

2)Breve análisis exploratorio de aquellas variables no analizadas en el práctico 1.